/* box shadow */
/* body{
    background: #000;

}

h1{
    text-shadow: 2px 2px 2px #f00;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 50px;
} */


/* Inheritance */

/* In this case both .parent and .child will have orange due to the inheritance */
/* Only typography will be inherited */
/* .parent {
    color: orange;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
} */


.container {
    background: #5c5353;
    width: 90%;
    height: 500px;
}

.d {
    width: 100px;
    height: 100px
}

.one {
    background: red;
    position: relative;
    left: 100px;
}

.two {
    background: blue;
    position: absolute;
    left: 200px;
}

.three {
    background: green;
    /* position: fixed; */
    position: sticky;
    top: 200px
}