/* 
Do not repeat yourself - DRY
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Bad way  */

/* all of the below styling will be applied to this one button */

/* section.one .btn {
    background: transparent;
    border: none;
    margin: 10px;
    background: #060606;
    padding: 1em 2em;
    color: #fff;
    cursor: pointer;
} */


/* RIGHT WAY- Instead of this we can apply the style to class .btn , so all buttons will have the same style */

.btn {
    background: transparent;
    border: none;
    margin: 10px;
    background: #060606;
    padding: 1em 2em;
    color: #fff;
    cursor: pointer;
}