/* body {
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .s {
    background: crimson;
    width: calc(100px + 100px);
    height: calc(100px -20px);
    margin: calc(20px*2);
    border-radius: 15px calc(15px/10) 4px 2px;
    padding: calc(200px/10);
} */

/* .container {
    background: red;
    width: 100px;
    height: 100px;
} */


/* 
header :is(h1, h2) {
    color: red;
} */

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 4rem;
}

p::before {
    content: "Hello,";
    background: red;
    font-size: 2rem;
}

p::after {
    content: "*";
    color: red;
    
}